body {
    padding-top: 40px;
}
html,body {
    font-size: 95%;
    color: #333;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0 1px;
}
.row {
    max-width: 65rem;
}
table tr {
    background: #f2f2f2;
}
table tr td {
    color: #666
}
.side-nav {
    padding-top: 0
}
.header {
    margin-bottom: 3rem;
}
.user-nav a.button {
    width: 100px;
}
hr {
    border-style: dotted;
}
h1 {
    font-size: 3.75rem;
}
h1 small {
    font-size: 1.2rem;
}
h4 {
    color: #777777;
    margin: 0.5rem 0;
}
h6 {
    font-weight: 500;
    margin: 0 0 1.2rem;
}
p {
    font-size: 0.875rem;
    color: #666;
}


/* TRACKER */

.tracker {
    margin-bottom: 0.3rem;
    position: relative;
}
.tracker, .pool-data, .user-data {
    height: 13.5rem;
}
.tracker .row {
    margin: 0;
}
.tracker .loading {
    left: 50%;
    position: absolute;
    top: 50%;
}
.tracker .loading img {
    margin-left: -50%;
    margin-top: -50%;
}
.tracker .user-data {
    padding: 1.9rem 2rem;
}
.tracker .user-data h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.tracker .user-data .hero-text {
    font-weight: 300;
    font-size: 2.5rem;
}
.tracker .user-data ul.stats {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 1.75rem;
}
.tracker .user-data ul.stats:before {
    content: " ";
    display: table;
}
.tracker .user-data ul.stats:after {
    content: " ";
    display: table;
    clear: both;
}
.tracker .user-data ul.stats li {
    border-left: 1px solid #e2e2e2;
    float: left;
    font-size: 0.85rem;
    line-height: 0.85rem;
    padding: 0 0.5rem;
}
.tracker .user-data ul.stats li:first-child {
    border-left: none;
    padding-left: 0;
}
.tracker .user-data ul.stats li .data-label {
    font-weight: 300;
    display: inline-block;
    padding-right: 0.3rem;
}
.tracker .pool-data {
    background: rgba(0, 0, 0, 0.09);
    padding: 3rem 0rem;
}
.tracker .pool-data h6 {
    font-weight: 300;
    font-size: 0.7rem;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    text-align: center;
}
.tracker .pool-data table.stats {
    width: 100%;
}
.tracker .pool-data table.stats,
.tracker .pool-data table.stats tr {
    background: transparent !important;
}
.tracker .pool-data table.stats tr td.data-label,
.tracker .pool-data table.stats tr td.data-value {
    padding: 0.2rem;
    width: 50%;
}
.tracker .pool-data table.stats td.data-label {
    font-size: 0.78rem;
    line-height: 0.78rem;
    text-align: right;
    color: #ddd;
}
.tracker .pool-data table.stats td.data-value {
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: white;
    text-align: left;
}


/* DEFAULT COLORS */

.tracker {
    background-color: #f7f7f7;
}
.tracker p {
    color: #888;
}
.tracker .user-data h3,
.tracker .user-data ul.stats li .data-label {
    color: #aaa;
}
.tracker .user-data h3 small {
    color: #888;
}
.tracker .user-data .hero-text,
.tracker .user-data ul.stats li .data-value,
.tracker .pool-data h6 {
    color: #888;
}
.tracker .user-data ul.stats li {
    border-color: #aaa;
}
.tracker .pool-data table.stats td.data-label {
    color: #999;
}
.tracker .pool-data table.stats td.data-value {
    color: #777;
}


/* TRACKER ACTIVE COLORS */

.tracker.active {
    background-color: #5193B1;
}
.tracker.active .user-data h3,
.tracker.active .user-data ul.stats li .data-label {
    color: #fcfcfc;
}
.tracker.active p,
.tracker.active .user-data h3 small {
    color: #e2e2e2;
}
.tracker.active .user-data .hero-text,
.tracker.active .user-data ul.stats li .data-value,
.tracker.active .pool-data table.stats td.data-value {
    color: #fff;
}
.tracker.active .user-data ul.stats li {
    border-color: #ccc;
}
.tracker.active .pool-data h6 {
    color: #eee;
}
.tracker.active .pool-data table.stats td.data-label {
    color: #ddd;
}


/* USER NAV */
.button.active {
    background-color: #5193B1 !important;
    border-color: #5193B1 !important;
    color: #ffffff !important;
}


/* HIGHLIGHTER */

[highlighter], [highlighter] td {
    transition: color 500ms ease, background 500ms ease;
}

[class^=highlighted] {
    transition: none;
}

.highlighted, .highlighted td {
   background: #e2e2e2;
}

.highlighted-increase, .highlighted-increase td {
   /*color: #3c763d;*/
   background: #dff0d8;
}

.highlighted-decrease, .highlighted-decrease td {
    /*color: #a94442;*/
    background: #f2cdcd;
}