<div class="tracker" ng-class="{active: tracker.isActive(), error: !trackerLoaded}">
    <div class="loading" ng-if="!requestCompleted">
        <img src="images/ajax-loader.gif">
    </div>
    <div class="row" ng-if="requestCompleted">
        <div class="user-data" ng-class="{'medium-9 columns': tracker.pool}">
            <h3>{{tracker.name}} <small>{{coinID | uppercase}} | {{coinPriceBtc}}</small></h3>

            <div ng-if="!trackerLoaded">
                <p>{{errorMessage}}<br><br><a href="" ng-click="loadTracker()">Retry</a></p>
            </div>

            <div class="tracker-data" ng-if="trackerLoaded">
                <div class="hero-text">{{tracker.balance | trackerUnits:4}}</div>
                <ul class="stats">
                    <li>
                        <span class="data-label">sharerate</span>
                        <span class="data-value">{{tracker.sharerate | trackerUnits:4}}</span>
                    </li>
                    <li>
                        <span class="data-label">hashrate</span>
                        <span class="data-value">{{tracker.hashrate | trackerUnits:4}}</span>
                    </li>
                    <li>
                        <span class="data-label">debit</span>
                        <span class="data-value">{{tracker.debitTotal | trackerUnits:4}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pool-data medium-3 columns" ng-if="trackerLoaded && tracker.pool">
            <h6>Pool Statistics</h6>
            <table class="stats">
                <tr>
                    <td class="data-label">hashrate</td>
                    <td class="data-value">{{tracker.pool.hashrate | trackerUnits:4}}</td>
                </tr>
                <tr>
                    <td class="data-label">workers</td>
                    <td class="data-value">{{tracker.pool.workers  | number:0}}</td>
                </tr>
                <tr>
                    <td class="data-label">interval</td>
                    <td class="data-value">{{tracker.pool.timesincelast  | number:0}}</td>
                </tr>
                <tr>
                    <td class="data-label">netwkdiff</td>
                    <td class="data-value">{{tracker.pool.networkdiff  | trackerUnits:4}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>





